body {
  background-color: burlywood;
}

h1 {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  font-family: cursive;
}

.list {
  display: flex;
  gap: 26px;
  justify-content: space-evenly;
  border-bottom: 1px solid;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

img {
  border: 2px solid black;
  border-radius: 20px;
  height: 200px;
}

.chef {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
