@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

body {
  background-color: rgb(245, 245, 245);
}

.title h1 {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  font-family: cursive;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.title h1:hover {
  transform: scale(110%);
  color: rgb(255, 99, 71);
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
  padding: 5px 0;
  font-size: 24px;
}

img {
  border: 2px solid;
  border-radius: 20px;
  height: 200px;
}

.chef-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  transition: all 0.2s ease 0s;
}

a:hover {
  color: rgb(255, 99, 71);
}
